html {
  font-size: 62.5%;
}

body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

a:link, a:visited, a:hover, a:active {
  color: #212121;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}